{
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    },
    "presets": [
        "@ava/babel-preset-stage-4",
        ["@ava/transform-test-files", {"powerAssert": false}],
        "@babel/preset-env"
    ]
}